<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
<script type="text/javascript"
	th:src="@{/script/jquery/jQuery_v3.6.0.js}"></script>
<script type="text/javascript"
	th:src="@{/script/bootstrap/bootstrap.bundle.js}"></script>
<link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.css}">
</head>
<body>

<nav th:fragment="menu" class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">IDAT</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Mantenimiento
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" th:href="@{/Curso/frmListarCurso}">Curso</a>
          <a class="dropdown-item" href="#">Especialidad</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Alumno</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
</body>
</html>